---
import Base from '../../components/vue/Base.vue'
import RefReactive from '../../components/vue/RefReactive.vue' 
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8"> 
	</head>
	<body>
		<!-- <Base/> -->
		<RefReactive/>
	</body>
</html>